<!-- What we do Section -->
    <section id="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What we do</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Criminal Defence</h4>
                    <p class="text-muted"> We offer legal representation to clients charged with any criminal offense and can assist you from the moment of arrest through to resolution.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Family Law</h4>
                    <p class="text-muted">We value each other and our clients as a family does. This value prompts us to approach each Family Law case with care and attention. We don’t just offer a listening ear but provide you with experienced legal advice and services.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Civil Litigation</h4>
                    <p class="text-muted">When disputes arise that are not criminal in nature, those disputes are resolved in the civil justice system. We have experience with all types of civil litigation claims and can help you resolve your disputes.</p>
                </div>
            </div>
        </div>
    </section>
